@model IEnumerable<BikeStore.Models.Bike>

@{
    ViewBag.Title = "BikeList1";
    Layout = "~/Views/Shared/masterPage.cshtml";
}

<h2>BikeList1</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BikeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeWheel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikeSpeed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BikePrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeWheel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikeSpeed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BikePrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BikeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BikeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BikeId })
        </td>
    </tr>
}

</table>
