@model ProgrammersBlog.Models.User
@using ProgrammersBlog.CommonHelpers
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { actionName = "/Users/Edit", @enctype = "multipart/form-data", id = "EditForm", @role="form"}))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)

        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EMail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EMail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EMail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <input type="file" name="userPhoto" id="userPhoto" width="100px" height="100px"/>  
            <div class="col-md-10">
                @Html.CustomImage(@Model.Avatar, "image", 100, 100)
                @Html.HiddenFor(model => model.Avatar, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                <div id='preview'>
                    <img class="img-thumbnail">
                </div>
            </div>         
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
   
    $("#userPhoto").change(function (e) {
        var file, reader;
        file = e.target.files[0];       
        reader = new FileReader();
        reader.onload = function (e) {
            var image;
            image = new Image();
            image.src = e.target.result;
            return image.onload = function () {
                return $("#preview img").attr('src', this.src);
            };
        };
        return reader.readAsDataURL(file);
    });

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
